<h1>Here is your destination</h1>
<br>
<br>
<%= @destination.name %>
<%= @destination.location %>
<%= @destination.description %>

<% link_to "Edit Destination" edit_destination_path(destination) %>
